/* Navbar.css */

.horizontal-navbar {
  background-color: #081c44;
  color: #fff;
  padding: 30px 70px; /* Increased padding for top and bottom */
  display: flex;
  height: 100px; /* Increased height */
}

.navbar-text {
  color: #fff;
  text-decoration: none;
  margin-left: auto; /* Pushes all the links to the right */
  padding: 12px ;
}


.horizontal-navbar a:hover {
  background-color: #555;
}

.navbar-logo {
  margin-top: -10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}